nav a:hover {
    background-color: #045110;
 }

 nav ul {
    text-align: center;
    list-style: none;
    background-color: #5e3602;
    margin-bottom: 15px;
 }

 nav li {
    display: inline-block;
 }

 nav a {
    padding: 9px;
    display: block;
    width: 100px;
    text-decoration: none;
    background-color: #ff7b00;
    color: white;
 }